
$path: "../fonts";

// Font-awesome
@font-face {
  font-family: 'FontAwesome';
  src: url($path+'/fontawesome-webfont.eot?v=4.7.0');
  src: url($path+'/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
       url($path+'/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
       url($path+'/fontawesome-webfont.woff?v=4.7.0') format('woff'),
       url($path+'/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
       url($path+'/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// ICOMOON

@font-face {
  font-family: 'icomoon'; 
  src:  url($path+'/icomoon.eot?zcvjmw');
  src:  url($path+'/icomoon.eot?zcvjmw#iefix') format('embedded-opentype'),
    url($path+'/icomoon.ttf?zcvjmw') format('truetype'),
    url($path+'/icomoon.woff?zcvjmw') format('woff'),
    url($path+'/icomoon.svg?zcvjmw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
    font-family: 'intro';
    src: url($path+'/intro.eot');
    src: url($path+'/intro.eot') format('embedded-opentype'),
         url($path+'/intro.woff2') format('woff2'),
         url($path+'/intro.woff') format('woff'),
         url($path+'/intro.ttf') format('truetype'),
         url($path+'/intro.svg#intro') format('svg');
}




