

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-architecture:before {
  content: "\e900";
}
.icon-blueprint:before {
  content: "\e901";
  color: rgb(243, 243, 243);
}
.icon-blueprint:after {
  content: "\e902";
  margin-left: -1em;
  color: rgb(65, 90, 107);
}
.icon-brickwall:before {
  content: "\e903";
}
.icon-building:before {
  content: "\e904";
}
.icon-chimney:before {
  content: "\e905";
}
.icon-ferris:before {
  content: "\e906";
}
.icon-house-sketch:before {
  content: "\e907";
}
.icon-instagram:before {
  content: "\e908";
}
.icon-pattern:before {
  content: "\e909";
}
.icon-phone-call:before {
  content: "\e90a";
}
.icon-social-facebook-circular-button:before {
  content: "\e90b";
}
.icon-sofa:before {
  content: "\e90c";
}
.icon-telegram:before {
  content: "\e90d";
}
