
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-1 .path1:before {
  content: "\e900";
  color: rgb(62, 78, 98);
}
.icon-1 .path2:before {
  content: "\e901";
  margin-left: -0.9990234375em;
  color: rgb(70, 132, 197);
}
.icon-1 .path3:before {
  content: "\e902";
  margin-left: -0.9990234375em;
  color: rgb(254, 254, 254);
}
.icon-1 .path4:before {
  content: "\e903";
  margin-left: -0.9990234375em;
  color: rgb(237, 239, 243);
}
.icon-1 .path5:before {
  content: "\e904";
  margin-left: -0.9990234375em;
  color: rgb(254, 210, 87);
}
.icon-1 .path6:before {
  content: "\e905";
  margin-left: -0.9990234375em;
  color: rgb(254, 254, 254);
}
.icon-1 .path7:before {
  content: "\e906";
  margin-left: -0.9990234375em;
  color: rgb(254, 254, 254);
}
