/*
		_media.scss	
*/



@media only screen and (max-width: 1199px){
	html body{
		font-size: 15px;
	}

}











@media only screen and (max-width: 991px){
	html body{
		font-size: 15px;
	}

	.logo{
		img{
			width: 100px;
		}
	}
	.header-navbar{
		display: block;
		width: 100%;
		height: auto;
		padding: 15px 0;
	}


	.logo{
		width: 30%;
	}
	.slogan, .phones{
		text-align: center;
		display: inline-block;
		width: 100%;
	}
	.services-list{
		.icomoon {
			padding-right: 0;
			padding-left: 50px;
			float: left;
		}
		li{
				font-size: 1.2em;
			  display: inline-block;
    		width: 49.5%;
    		text-align: center;
    		padding: 0 2%;
    		&:nth-child(odd){
    			//width: 60%;
    			//text-align: right;
    		}
		}
	}




	#footer{
		
		.footer-content{
			display: block;
	    height: inherit;
		}

		.input{
			//max-width: fit-content;
		}

	}



}









@media (max-width: 767px) {

	html body{
		font-size: 15px;
	}

	.services-list{

		.icomoon {
			width: 100%;
			margin: 10px 0;
			//transform: scale(1.5);
			padding-right: 0;
			padding-left: 0;
			float: left;
		}
	}
	main{


		text-align: center;

		.btn-lnk{
			margin: auto;
			margin-top: 30px;
		}



	}


}








@media only screen and (max-width: 480px){
		.slide-header{
			text-align: center;
			h1, p{
				margin-left: -20%; 
			}
			h1{
				text-align: center !important;
				font-size: em( 30, 16 ) !important;
			}
			p{
				font-size: em( 20, 16 ) !important;	
			}
			padding: 30px 5px !important;

			left: 7.5% !important;
			top: 25% !important;
			max-width: 100%  !important;
			width: 85%  !important;
		}
	html body{
		font-size: 15px;
	}

}


@media (max-width: 280px) {

}














// MIN-WIDTH


@media only screen and (min-width: 1440px){


}

@media (min-width: 768px) {

} 
@media (min-width: 992px) {


} 